services:
  postgres:
    image: postgres:17.7 # To download a specific version, here the version 17.4 of Postgresql
    container_name: postgres
    restart: unless-stopped # 1. Auto-restart on crash/reboot
    volumes:
      - postgresql_data:/var/lib/postgresql/data
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"

  mongodb:
    image: mongo:latest
    container_name: mongodb
    restart: unless-stopped
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=andv
      - MONGO_INITDB_ROOT_PASSWORD=Doanan_02092003
    volumes:
      - mongodb_data:/data/db

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    restart: unless-stopped
    ports:
      - "5672:5672" # AMQP port
      - "15672:15672" # Management UI
    environment:
      - RABBITMQ_DEFAULT_USER=hsct
      - RABBITMQ_DEFAULT_PASS=vcs@123
      - RABBITMQ_SERVER_ADDITIONAL_ERL_ARGS=-rabbit consumer_timeout 7200000
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq/
      - rabbitmq_logs:/var/log/rabbitmq/

volumes:
  postgresql_data:
  mongodb_data:
  rabbitmq_data:
  rabbitmq_logs:
